{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block title %}
    О нас
{% endblock %}

{%  block content %}
      <div class="rq-page-content">
        <div class="inner-page-banner" style="background: url('/static/img/inner-banner/about-us.jpg') top center no-repeat; background-size: cover;">
          <div class="rq-overlay"></div>
          <div class="container">
            <div class="rq-title-container bredcrumb-title">
              <h2 class="rq-title">{% trans 'О нас' %}</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="{% url 'index_page' %}">{% trans 'Главная' %}</a></li>
                <li class="active">{% trans 'О нас' %}</li>
              </ol>
            </div>
          </div>
        </div> <!-- /. inner pagebanner -->
        <div class="rq-content-block">
          <div class="rq-about-us-content-wrapper">
            <div class="container">
              <div class="about-us-content-single">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">{% trans 'О нас' %}<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="about-us-text">
                      <p><strong>ОсОО «BelekAvto»</strong></p>
                      <p>
                        {% trans 'осуществляет свою деятельность на территории Кыргызстана c «17» сентября 2020 года регистрационный №192669-3301-ООО. На сегодняшний день существует множество вариантов получения автотранспортного средства в кредит, не имея всей суммы на руках, на самом деле большинство из них является самым дорогостоящим для бюджета семьи способом. По сути выходит, что автотранспортное средство покупается по двойной и даже тройной цене, в зависимости от срока предоставления займа банком или кредитным учреждением. Чем «добрее» банк и на больший срок согласен выдать кредит, тем больше в итоге вырастает снежный ком платежей. Наша компания предлагает Вам минимальную ставку фиксированную которую вы оплачиваете разово, в дальнейшем оплачивается только сумма основного займа, так же фиксированными платежами, без дополнительных %, и взносов. Мы предоставляем очень большой выбор автотранспортных средств для наших участников. При заключении сделки с ОсОО «BelekAvto», Вы можете приобрести автотранспортное средство , для бизнеса, работы, частного личного использования, в зависимости от вашей потребности- выбрать сами, либо воспользоваться нашими предложениями, в любом городе Кыргызстана. Для вступления в ОсОО «BelekAvto» требуется всего один документ – оригинал удостоверения личности(паспорт). Для сравнения в банке у Вас могут потребовать очень большое количество дополнительных документов, таких как справка о пенсионных отчислениях, кредитную историю, свидетельство о заключении брака заемщика, поручительство третьих лиц, справка с места работы подтверждающая основной доход. Мобильность в принятии решений. В случае изменения уровня дохода у вас и невозможности продолжать платежи в прежнем объеме, мы можем предоставить финансовые каникулы на срок до 2 месяцев либо могут быть предложены альтернативы, например, уменьшить сумму ежемесячных платежей, при этом увеличив срок рассрочки. Микрокредитные компании и особенно банковский сектор не предоставляют таких условий. При заключении сделки и покупки автотранспортного средства, ОсОО «BelekAvto» не привлекает денежные средства у банков второго уровня. ОсОО«BelekAvto» получает средства от ежемесячных платежей таких же клиентов, как и Вы. Поэтому, интерес компании по займу не зависит от ставки Центрального банка и является фиксированным. При этом «BelekAvto» полностью открыт и не имеет дополнительных, скрытых платежей. ОсОО «BelekAvto» обслуживается в ОАО «Оптима Банк» - Кыргызский банк, имеющий порядка пятидесяти представительств в различных областях страны. «Оптима Банк» ведёт работу на основе принципов надежности, качества, честного ведения бизнеса и развитой корпоративной культуры. Вы как клиент нашей компании можете погашать сумму долга через терминалы этого банка, в любом регионе Кыргызстана, не привязываясь с ежемесячным посещением офиса компании.' %}
                      </p>
                    </div>
                  </div>
                </div>
              </div> <!-- end of brand -->
              <div class="about-us-content-single"> <!-- start of contact info -->
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">{% trans 'Свяжитесь с нами' %}<span class="dot">.</span></h2>
                  </div>
                  {% if contact%}
                  <div class="col-md-8">
                    <div class="contact-single">
                      <i class="icon_pin"></i>
                      {% if LANGUAGE_CODE == 'ky' %}
                        <p>{{ contact.address }}</p>
                      {% else %}
                        <p>{{ contact.address_kg }}</p>
                      {% endif %}
                    </div>
                    <div class="contact-single">
                      <i class="icon_mail_alt"></i>
                      <p>{{ contact.email }}</p>
                    </div>
                    <div class="contact-single">
                      <i class="icon_phone"></i>
                      <p>{{ contact.phone1 }}</p>
                      <p>{{ contact.phone2 }}</p>
                    </div>
                    {% endif %}
                    <div class="opening-hour">
                      <p>{% trans 'График работы:' %}<br>
                        <span>{% trans  'Понедельник-пятница 10:00 до 18:00'%} </span> <br>
                        <span>{% trans 'Суббота с 11:00- 16:00' %}</span><br>
                        <span>{% trans 'Воскресенье выходной' %}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div> <!-- end of contact info -->
              
            </div>
          </div>
        </div>
      </div>

    </div><!-- end #main-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
{% endblock %}