{% extends 'base.html' %}
{% load i18n %}
{% load static %}
      {% block title %}
          Контакты
      {% endblock %}
{% block content %}<!-- end header -->
      <div class="inner-page-banner" style="background: url('/static/img/inner-banner/contact-us.jpg') top center no-repeat; background-size: cover;">
        <div class="rq-overlay"></div>
        <div class="container">
          <div class="rq-title-container bredcrumb-title text-center">
            <h2 class="rq-title">{% trans 'Контакты' %}</h2>
            <ol class="breadcrumb rq-subtitle">
              <li><a href="{% url 'index_page' %}">{% trans 'Главная' %}</a></li>
              <li class="active">{% trans 'Контакты' %}</li>
            </ol>
          </div>
        </div>
      </div> <!-- /. inner pagebanner -->
      <div class="rq-page-content">
        <div class="rq-content-block">
          <div class="container">
            <div class="rq-contact-us-grid-block"> <!-- start info portion -->
              <div class="row">
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_mobile"></i>
                    <h3>{% trans 'Номер телефона' %}</h3>
                    <p>Телефон 01: {{ contact.phone1 }}</p>
                    <p>Телефон 02: {{ contact.phone2 }}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_pin_alt"></i>
                    <h3>{% trans 'Адрес' %} </h3>
                    {% if LANGUAGE_CODE == 'ky' %}
                        <p>{{ contact.address_kg }}</p>
                    {% else %}
                        <p>{{ contact.address }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_mail_alt"></i>
                    <h3>Email</h3>
                    <p>{{ contact.email }}</p>
                  </div>
                </div>
              </div>
            </div> <!-- end info portion -->
            <!-- end map portion -->
          </div>
        </div>
      </div>
    </div> <!-- end #main-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0QI6vd531_4xsTobCg_J1_6BZOEolRbs&libraries=visualization&callback=initMap">
    </script>
    <script src="{% static 'js/customMap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
{% endblock %}