{% extends 'base.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
    {% load static %}
        {% block header_body %}
        <div class="header-body" style="background: url('/static/img/turbo-banner.jpg') top center no-repeat; background-size: cover;">
          <div class="header-overlay"></div>
          <div class="container" >
            <h1>Белек Авто</h1>
            <p style="color: white !important;">{% trans 'Поможем приобрести авто в расрочку без процентов и переплат.' %}</p>
            <p style="color: white !important;">{% trans 'Всего один шаг до мечты.' %}</p>
            <div class="rq-counting-list">
              <ul class="list-unstyled">
                <li>
                  <span class="count-result" data-from="1" data-to="{{quantity.satisfied_customers}}" data-speed="5000" data-refresh-interval="50"></span>
                  <span class="count-category">{% trans 'Довольных клиентов' %}</span>
                </li>
                <li>
                  <span class="count-result" data-from="1" data-to="{{quantity.purchased_cars}}" data-speed="5000" data-refresh-interval="50"></span>
                  <span class="count-category">{% trans 'Приобретено машин' %}</span>
                </li>
                <li>
                  <span class="count-result" data-from="1" data-to="{{quantity.waiting_for_dream}}" data-speed="5000" data-refresh-interval="50"></span>
                  <span class="count-category">{% trans 'В ожидани мечты' %}</span>
                </li>
              </ul>
            </div>

          </div>
        </div> <!-- /.header-body -->
        {% endblock %}


      {% block content %}
      <div class="rq-page-content">
        <div class="rq-content-block gray-bg">
          <span class="bg-large-text">Белек</span>
          <div class="container">
            <div class="row">
              <div class="col-md-11">
                <div class="rq-mission-block">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mission-content">
                        <h1 class="rq-title">{% trans 'Наша цель' %}<span class="rq-dot">.</span><i class="rq-line"></i></h1>
                        <p class="mission-text">
                         {% trans 'Основной целью является доступное получение автотранспортного средства, без переплаты процентов, прозрачное и доступное оформление автотранспортного средства. Автомобилем, купленным с нашим участием, можно беспрепятственно пользоваться, но нельзя продать, сдать, обменять или подарить без разрешения которое переходит в полную собственность Вам после погашения оставшейся суммы. Таким образом наша основная цель- сделать получение автотранспортного средства доступным для любого гражданина. Один шаг до мечты!' %}
                        </p>

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mission-image">
                        <img src="{% static 'img/block-transparent-img.png' %}" alt="">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
        </div> <!-- /.content block -->
        <div class="rq-content-block gray-bg" id="services">
          <div class="rq-title-container text-center">
            <h2 class="rq-title no-padding">{% trans 'Маленькие шаги до <strong>мечты.</strong>' %} </h2>
          </div>
          <div class="rq-how-it-work-content">
            <div class="container">
              <div class="row">

                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <h5>{% trans '1-шаг' %}</h5>
                    <img src="{% static 'img/1.jpg' %}" alt="">
                    <h4>{% trans 'Обращаетесь в компанию приобретению авто' %}</h4>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <h5>{% trans '2-шаг' %}</h5>
                    <img src="{% static 'img/2.jpg' %}" alt="">
                    <h4>{% trans 'Подписываете договор с  компанией и получаете все необходимые документы для получения авто' %}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <h5>{% trans '3-шаг' %}</h5>
                    <img src="{% static 'img/3.jpg' %}" alt="">
                    <h4>{% trans 'Вносите платеж 35% от стоимости авто' %}</h4>
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <h5>{% trans '4-шаг' %}</h5>
                    <img src="{% static 'img/4.jpg' %}" alt="">
                    <h4>
                      {% trans 'Получаете в ограниченное личное пользование транспортное средство' %}
                    </h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <h5>{% trans '5-шаг' %}</h5>
                    <img src="{% static 'img/5.jpg' %}" alt="">
                    <h4>{% trans 'Вносите оставшуюся сумму за авто 65% на основании графика платежей' %}</h4>
                  </div>
                </div>
                <div class="col-md-4">

                  <div class="how-it-work-single">
                    <h5>{% trans '6-шаг' %}</h5>
                    <img src="{% static 'img/6.jpg' %}" alt="">

                    <h4>{% trans 'Получаете свое автотранспортное средство в личное пользование' %}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <!-- BLOCK Why We-->
          <div class="rq-content-block gray-bg" id="services">
            <div class="rq-title-container text-center">
              <h2 class="rq-title no-padding">{% trans 'Почему <strong> Мы ?</strong>' %}</h2>
            </div>

              <div class="rq-how-it-work-content">
                <div class="container">
                  <div class="marquee-container">
                    <div class="marquee">
                      {% if LANGUAGE_CODE == 'ru' %}
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/1.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/2.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/3.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/4.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/5.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/6.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/7.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/8.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/9.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/10.jpg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/11.jpg' %}"></div>
                      </div>
                      {% else %}
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/1_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/2_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/3_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/4_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/5_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/6_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/7_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/8_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/9_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/10_kg.jpeg' %}"></div>
                      </div>
                      <div class="item">
                        <div class="card"><img src="{% static 'img/slider/11_kg.jpeg' %}"></div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  end of block        -->


        <!--   BLOCK our partners       -->
        <div class="rq-content-block gray-bg" style="margin-top:-10%">
          <div class="rq-title-container text-center">
            <h2 class="rq-title no-padding">{% trans 'Наши  <strong>  Партнеры.</strong>' %} </h2>
          </div>
          <div class="container">
            <div class="rq-partners-section">
              <div class="partners-wrapper">
                {% for logo in partner_logos %}
                  <div class="partner-single">
                  <a href="{{logo.partner_url}}">
                    <img src="{{ logo.logo.url }}" alt="">
                  </a>
                  </div>
                {% endfor %}
              </div>
            </div> <!-- /end-partners-section -->


            <div class="rq-tips-tricks">
              <h1 class="rq-title">{% trans 'Актуальные <span class="rq-dot">предложения</span>' %}</h1>

              <div class="row">
                 {% for post in latest_posts %}
                <div class="col-md-4">
                  <div class="rq-tips-single wow fadeInLeft" data-wow-duration="500ms">
                    <div class="image-container">
                      {% if post.image %}
                      <img src="{{ post.image.url }}" alt="Фотография не найдена">
                      {% endif %}
                    </div>
                    <div class="tips-content">
                      <span class="date">{{ post.created }}</span>
                      <h4><a href="{{ post.get_absolute_url }}">
                        {% if LANGUAGE_CODE == 'ky' and post.title_kg %}
                          {{ post.title_kg }}
                        {% else %}
                          {{ post.title }}
                        {% endif %}
                      </a></h4>
                      <a class="rq-btn rq-btn-normal continue-button"
                         href="{{ post.get_absolute_url }}">
                        {% trans 'Подробнее' %}
                        <i class="arrow_right"></i></a>
                    </div>
                  </div>
                </div>
                {% empty %}
                  {% trans 'Актуальные предложения отсутствуют' %}
                {% endfor %}
              </div>
            </div>


            <div class="rq-tips-tricks">
              <h1 class="rq-title">{% trans 'Сертификаты ' %}<span class="rq-dot">{% trans 'Лицензии' %}</span></h1>
              <div class="row">
                {% for achievement in  achievements %}
                <div class="col-md-4">
                  <div class="rq-tips-single wow fadeInLeft" data-wow-duration="500ms">
                    <div class="image-container">
                      <img src="{{achievement.image.url}}" alt="">
                    </div>
                    <div class="tips-content">
                      
                      <h4>{{ achievement.text }}</h4>
                      
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="rq-testimonial-section">
              <div class="rq-testimonial-content">
                <h1 class="rq-title">{% trans 'Отзывы реальных клиентов' %}<span class="rq-dot">.</span></h1>
                <div class=" owl-carousel testimonial-wrapper">
                  {% for review in reviews %}
                  <div class="item">
                    <span class="author-name-title">
                      <img src="{{ review.image.url }}" alt="">
                      <a href="#">{{ review.name }} </a>
                    </span>
                    <p class="testimoinal-text">
                    {{ review.text }}
                    </p>
                    
                  </div>
                  {% endfor %}

                </div>
              </div>
            </div> <!-- /.testimonial section -->
            
            
          </div> 
        </div>
        <div class="rq-content-block gray-bg">
          <div class="newsletter-content">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <h2>{% trans 'Наши <strong> Новости.</strong>' %}</h2>
                </div>
                <div class="col-md-7">
                  <form class="rq-newsletter-form" method="post" id="subscribe">
                       {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endif %}
                            {% csrf_token %}
                            {{ form}}
                    <button type="submit" class="rq-btn rq-btn-primary">{% trans 'Подписаться' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
   
{% block script %}
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
