{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{{ LANGUAGE_CODE}}

      <div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="signle-post-feature-img">
            {% if object.image %}
              <img src="{{object.image.url}}" alt="">
            {% endif %}
            {% if object.video_link %}
              <iframe  src="{{object.video_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                {% if LANGUAGE_CODE == 'ky' and object.title_kg %}
                <h2 class="rq-title">{{ object.title_kg  }}</h2>
                {% else %}
                <h2 class="rq-title">{{ object.title }}</h2>
                {% endif %}
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="{% url 'index_page' %}">{% trans 'Главная' %}</a></li>
                  <li class="active">
                  {% if LANGUAGE_CODE == 'ky' and object.title_kg %}
                    {{ object.title_kg }}
                  {% else %}
                    {{ object.title }}
                  {% endif%}
                  </li>
                </ol>
              </div>
              <div class="rq-single-post-header">
                <div class="author-info-content">
                  <div class="author-img"
                       style="background: url('/static/img/post-single/single-post-author.jpg') top center no-repeat; background-size: cover">
                  </div>
                  <span class="author-name"><a href="#">{{object.user.first_name}}</a></span>
                  <span class="author-role">{% trans 'Администратор' %}</span>
                </div>
                <div class="post-cat-tag">
                  <div class="post-cat-tag-single">
                    <span class="cat-title">{% trans 'Дата публикации:' %}</span>
                    <span class="cat-details"><a href="#">{{object.created}}</a></span>
                  </div>
                  
                </div>
              </div>
              <div class="post-content">
                <p>
                  {% if LANGUAGE_CODE == 'ky' and object.text_kg %}
                    {{ object.text_kg }}
                  {% else %}
                    {{ object.text }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div> <!-- /.content-block -->
        </div>

      </div> <!-- /.page-content -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
{% endblock %}
