{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Новости' %}
{% endblock %}
{% block content %}
      <div class="rq-page-content">
        <div class="rq-content-block">
          <div class="container">
            <div class="rq-title-container bredcrumb-title text-center">
              <h2 class="rq-title">{% trans 'Новости' %}</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="{% url 'index_page' %}">{% trans 'Главная' %}</a></li>
                <li class="active">{% trans 'Новости' %}</li>
              </ol>
            </div>
            <div class="rq-blog-listing">
              

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="all">
                  <div class="rq-listing-wrapper">
                    {% for post in page_obj %}
                      <div class="rq-listing-single">
                        <div class="rq-listing-standard-image-post">
                          {% if post.image %}
                            <img src="{{post.image.url}}" alt="">
                          {% elif post.video_link %}
                            <iframe width="560" height="450" src="{{ post.video_link }}" allowfullscreen></iframe>
                          {%endif%}
                          <h3 class="rq-listing-title"><a href="{{ post.get_absolute_url }}">
                            {% if LANGUAGE_CODE == 'ky' and post.title_kg %}
                              {{ post.title_kg }}
                            {% else %}
                              {{ post.title }}
                            {% endif %}
                          </a></h3>
                          <div class="rq-listing-meta">
                            <span class="author-name"><a href="#">{{post.user}}</a></span>
                            <span class="v-line">|</span>
                            <span class="date"><a href="#">{{ post.created }}</a></span>
                            <span class="v-line">|</span>
                          </div>
                          <p class="post-content">
                            {% if LANGUAGE_CODE == 'ky' and post.text_kg %}
                              {{ post.text_kg|truncatechars_html:450 }}
                            {% else %}
                              {{ post.text|truncatechars_html:450 }}
                            {% endif %}
                          </p>
                          <a class="continue-btn rq-btn rq-btn-normal" href="{{post.get_absolute_url}}">{% trans 'Подробнее' %} <i class="arrow_right"></i></a>
                        </div>
                      </div>
                    {% endfor %}

                    {% if page_obj.has_other_pages %}
                      <div class="rq-pagination">
                        <ul class="rq-pagination-list-secondary">
                            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                            <li class="active"><a href="?page= {{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }}</a></li>
                        </ul>
                      </div>
                    {% endif %}


                  </div>
                </div> <!-- /.tabe pane for all -->
                
              </div>

            </div> <!-- /.rq-blog-listing -->
          </div>
        </div> <!-- /.content-block -->
      </div> <!-- /.page-content -->
<!-- end #main-wrapper -->

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/soundcloud.player.api.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/soundcloud.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}


