{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Отписка от рассылки
{% endblock %}

{% block content %}
 <div class="rq-content-block gray-bg">
          <div class="newsletter-content">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h2>{% trans 'Форма для отписки' %}</h2>
                </div>
                <div class="col-md-8">
                  <form class="rq-newsletter-form" method="post" id="unsubscribe">
                       {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endif %}
                            {% csrf_token %}
                            {{ form}}
                    <button type="submit" class="rq-btn rq-btn-primary">{% trans 'Отписаться' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/unsubscribe.js' %}"> </script>
{% endblock %}