.modal-button{
    position: fixed;
    z-index: 999;
    right: -240px;
    top: 48%;
    display: flex;
    width: 300px;
    padding: 4px;
    background-color: #0432b4;
    border-top-left-radius: 10px;
    opacity: .8;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .5s;
}
.modal-button h2{
    font-size: 2em;
    color: white;
    margin-left: 4%;

}
.modal-button img{
   width: 60px;
   height: 60px;
   margin-top: 2%;
}
.modal-button:hover{
    opacity: 1;
    right: 0;
}
#modalCalc{
    display: none
}
.modal-calc{
    padding: 1%;
    position: fixed;
    top: 15vh;
    width: 70%;
    left: 15%;
    border: 4px solid #0432b4;
    box-shadow: 15px 15px 30px black;
    height: 80vh;
    background-color: white;
    z-index: 999;
    border-radius: 20px;

}
.modal-calc p{
    transform: rotate(45deg);
    font-size: 40px;
    margin-top: 4%;
    color: #0432b4;
    width: 10%;
    margin-left: 90%;
    cursor: pointer;
}

.modal-calc h3{
    margin-top: -5%;
}
@media (max-width:768px) {
    .modal-calc{
        width: 90%;
        left: 5%;
        height: 70vh;
        padding: 2%;
    }
    #modalCalc input{
        font-size: 1em;
    }
}