/* 
Animate the .marquee container, adjust the speed by changing the timing. Also, setting 'min-width' on .item is important.
*/
:root {
    --timing: 21000ms;
    --width: 80rem;
    --height: 16rem;
  }
  
  .marquee {
    display: flex;
    -webkit-animation: var(--timing) linear 0s infinite normal both running marquee;
            animation: var(--timing) linear 0s infinite normal both running marquee;
  }
  
  .marquee:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  .item {
    display: flex;
    min-width: calc(var(--width) / 1.5);
    width: calc(var(--width) / 1.5);
    height: calc(var(--height) / 1.5);
    padding: 0 1em;
    box-sizing: content-box;
    transform: translate3d(0,0,0);
  }
  
  @media screen and (min-width: 36rem) {
  
  .item {
      min-width: var(--width);
      width: var(--width);
      height: var(--height)
  }
    }
  
  .card {
    display: flex;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }
  
  .card > * {
      margin: auto;
      height: 100%;
    }
  
  .marquee-container {
    display: flex;
    width: 100%;
    font-size: 18px;
    padding-top: 1rem;
  }
  
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-450%);
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-450%);
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    margin-top: 14%;
    box-shadow: none;
    border: 0 !important;
    background: #0432b4;
    background-image: none;
    color: white;
  }
  select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  @media (max-width:950px) {
    select{
        margin-top: 0;
        margin-left: 2%;
    }
}