
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mailru-domain" content="G1Si5TltikCOr3RI" />
    <title>
        {% block title %}
            Belek-Auto
        {% endblock %}
    </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190938956-1">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-190938956-1');
      </script>
    <!-- Google fonts -->
    <link rel="shortcut icon" href="{% static 'img/logotype/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/turbo.style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.css' %}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0QI6vd531_4xsTobCg_J1_6BZOEolRbs&libraries=visualization&callback=initMap">
    </script>
    <script src="{% static 'js/customMap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
  </head>
  <body>
  <div id="fakeloader">
      <div class="spinner5">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
      <div class="modal-button" onclick="openModal()">
        <img  src="{% static 'img/calculator.png' %}" alt="">
        <h2>Калькулятор</h2>
      </div>
    <div class="modal-calc" id="modalCalc">
      <p onclick="closeModal()">+</p>
  <!-- start message form -->
        <h3>Калькулятор</h3>

          <input type="text" class="contact-form-input" onkeyup='sumAvto(event)' placeholder="{% trans 'Стоимость Авто в $$$' %}">
          <input type="text" id='first' class="contact-form-input" placeholder="{% trans 'Ваш первоначальный взнос' %}" disabled>
          <input type="text" class="contact-form-input" id="ost" placeholder="{% trans 'Остаток' %}" disabled>
          <input type="text" class="contact-form-input" id="mes" placeholder="{% trans 'Срок' %}" disabled>
          <input type="text" class="contact-form-input" id='vznos' placeholder="{% trans 'Вступительный взнос' %}" disabled>
    </div>
    <a class='whatsapp' href="whatsapp://send?phone=+996508060020&abid=+996508060020"><img src="https://img.icons8.com/color/50/000000/whatsapp--v5.png"/></a>
    <div id="main-wrapper">
      <header class="header">
          {% block header_body %}

          {% endblock %}
        <nav class="navbar navbar-default" id="sticker">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans 'Меню' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index_page' %}"><img src="{% static 'img/logotype/company-logo.png' %}" alt=""/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="{% url 'index_page' %}" aria-haspopup="true" aria-expanded="false">{% trans 'Главная' %}</a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'post_list' %}" aria-haspopup="true" aria-expanded="false">{% trans 'Новости' %} </a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'about_us' %}" aria-haspopup="true" >{% trans 'О нас' %} </a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'contacts' %}" aria-haspopup="true" >{% trans 'Контакты' %}</a>
                </li>

                <li>
                <form action="{% url 'set_language' %}" method="post" id="lang_form">{% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}">
                  <select name="language" onchange="onChangeLang(event)">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                          <option value="{{ language.code }}" {% if LANGUAGE_CODE == language.code %} selected {% else %} {% endif %}>
                              {{ language.name_local }} {% if language.code == "ru" %} 🇷🇺 {% else %} 🇰🇬 {% endif %}
                          </option>
                      {% endfor %}
                  </select>
                </form>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>


  {% block content%}

  {% endblock %}
  </div>
    <div class="rq-contact-us-form-content" >
       <!-- start message form -->
        <h3>{% trans 'Оставьте заявку на приобретение авто' %}</h3>
        <div class="adaptive_form_map">
          <form class="application_create_form" id="application_id">
            {% include 'partial_application_form.html' %}
        </form>
        <div class="rq-contact-us-map" > <!-- start map portion -->
        <div id="map"></div>

        </div>
        </div>

    </div>
   <footer class="rq-footer">
      <div class="rq-main-footer">
        <div class="container" >
          <div class="secondary-footer-logo">
            <img src="{% static 'img/logotype/company-logo.png' %}" alt="">
          </div>
          <ul class="rq-footer-social">
            <li><a href="http://www.facebook.com/belekavto">Facebook</a></li>
            <li><a href="tg://resolve?domain=belekavto">Telegram</a></li>
            <li><a href="https://instagram.com/belekavto">Instagram</a></li>
          </ul>
        </div>
      </div> <!-- /.rq-main-footer -->
      <div class="rq-copyright-section">
        <div class="container">
          <p class="secondary-copyright">© 2021 Belek-Auto. Paradigma</p>
        </div>
      </div> <!-- /.rq-copyright-section -->
    </footer>
      <script>
          const onChangeLang = ({ target: { value } }) => {
              document.getElementById("lang_form").submit(value);
          }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-bet a2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
     <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
     <script src="{% static 'js/application.js' %}"></script>
    <script>
        let modalCalc = document.getElementById('modalCalc')
        openModal=()=>{
        modalCalc.style.display='block'
        }
        closeModal=()=>{
        modalCalc.style.display='none'
        }



        let firstInp = document.getElementById('first')
        let ostInp = document.getElementById('ost')
        let mesInp = document.getElementById('mes')
        let vznosInp = document.getElementById('vznos')
        let mes = 0
        let vznos = 0
        sumAvto=(e)=>{
    let sum = +e.target.value
    if (sum >= 3000){
        let perv_sum = sum * (35/100)
        firstInp.value =`{% trans '35% от суммы: ' %}` + perv_sum + "$"
        let ost = sum - perv_sum
        ostInp.value= `{% trans 'Остаток: ' %}` + ost + "$"
        if(sum <=4000){
            mes=18
            vznos=500
        }else if(sum <= 7000){
            mes = 24
            vznos=700
        }else if(sum <=7000){
            mes=28
            vznos=800
        }else if(sum <= 8000){
            mes=32
            vznos=800
        }
        else if(sum <= 9000){
            mes=36
            vznos=800
        }else if(sum <= 10000){
            mes=40
            vznos=1000
        }
        else if(sum <= 11000){
            mes=44
            vznos=1000
        }else if(sum <= 12000){
            mes=48
            vznos=1000
        }
        else if(sum <= 13000){
            mes=52
            vznos=1000
        }
        else if(sum <= 14000){
            mes=56
            vznos=1000
        }
        else if(sum <= 15000){
            mes=60
            vznos=1000
        }else if(sum >= 15000){
            mes=60
            vznos=1000
        }
        let mes_sum =  (ost/mes).toFixed(2)

        mesInp.value=`{% trans 'Плата: ' %}`+ mes_sum +"$" + `{% trans ' сроком: ' %}` + mes + `{% trans 'мес' %}`
        vznosInp.value=`{% trans 'Взнос: ' %}`+vznos + "$"
    }
}

    </script>

  {% block script %}

  {% endblock %}
  </body>
</html>