{% load static %}
{% load i18n %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
{% csrf_token %}
{{ application_form }}
<div class="submit-btn">
    <button type="submit" class="rq-btn rq-btn-primary">{% trans 'Отправить' %}</button>
</div>
